.welcome-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.launcher-logo, .launcher-logo>img{
  height: 70px;
  margin: auto;
  display: block;
}

.welcome-container > .welcome-background {
  height: 100%;
  width: 60%;
  background-image: url("../assets/image/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.laucher-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 25px;
}

.laucher-buttons button > a {
  text-decoration: none !important;
  color: black !important;
  font-weight: bold;
}

.welcome-container > .content-container {
  background-color: #160430;
  color: white;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-container > .content-container > .content {
  width: 70%;
}

.welcome-container > .content-container > .content > form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  gap: 6px;
  max-width: 100%;
}

.form-group > * {
  width: 100%;
}

.form-group > label {
  font-weight: bold;
}

.form-group > input {
  height: 46px;
  border-radius: 8px;
  padding-left: 10px;
}

.form-group > input[type="submit"] {
  font-size: 20px;
  font-weight: bold;
}

.separator{
  height: 0.2px;
  margin: 2.5rem 0;
  width: 100%;
  background-color: white;
}

button.connexion {
  height: 46px;
  border-radius: 8px;
}

button.register {
  height: 46px;
  border-radius: 8px;
}